@import "./base/variables";
@import "./utilies/botones";

@import "./components/header";
@import "./components/main";
@import "./components/footer";

*{
    font-family: 'Poppins', sans-serif;
}
@media screen and (max-width: 1000px){
    .hiden-ig{
        display: none;
    }
    .img-articulo{
        width: 75px;
    }
}
@media screen and (max-width: 750px){
    .hiden{
        display: none !important;
    }
}
@for $incremento from 1 through 6{
    h#{$incremento}{
        margin: 0px !important;
    }
}
.margin100{
    margin: 75px 200px;
}
.page-link{
    color: $colorSecundario !important;
}