@import "../base/variables";
@import "../utilies/botones";

// BEST SELLER
@keyframes show {
	from {
		opacity: 0;
		scale: 25%;
	}

	to {
		opacity: 1;
		scale: 100%;
	}
}
.bestseller2{
	view-timeline-name: --image;
	view-timeline-axis: block;

	animation-timeline: --image;
	animation-name: show;

	animation-range: entry 25% cover 30%;
	animation-fill-mode: both;
}
.bestseller{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .bestseller2{
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width: 650px){
    .bestseller2{
        display: flex;
        justify-content: center;
        width: 100%;
    }
}
// NAV CATEGORIAS
.categorias{
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    border-color: rgb(218, 218, 218);
    border-radius: 15px;
    padding: 5px;
}
li{
    a{
        text-decoration: none;
        h4{
            background-color: $colorSecundario;
            color: rgb(255, 255, 255);
            padding: 10px;
            padding-left: 20px;
            padding-right: 20px;
            font-size: 20px;
            &:hover{
                background-color: $colorPrincipal;
            }
        }
    } 
}
// ARTICULO
.articulo{
    padding: 25px;
    .breadcrumb li{
        color: $colorSecundario !important;
    }
    .breadcrumb li a{
        color: $colorPrincipal !important;

        &:hover{
            color: $colorSecundario !important;
        }
    }
    .articulo2{
        display: grid;
        grid-template-columns: 10% 40% 50%;
        .hiden-img{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .img-articulo{
                width: 100px;
            }
        }
    }
    @media screen and (max-width: 850px){
        .articulo2{
            grid-template-columns: 40% 60%;
            .hiden-img{
                display: none;
            }
        }
    }
}
@media screen and (max-width: 750px){
    .articulo{
        padding: 8px;
        .articulo2{
            display: flex;
            flex-direction: column;
        }
    }
}
